{% extends 'layover_app/layout.html' %}
{% load static %}

{% block body %}
  <div class="form-block">
    <h1 class="fw-light">Reset Password</h1>
    <p class="fw-light reset-text">Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

      <form method="post" id="update_pwd_form">

          <div class="form-group reset-form">
            {% csrf_token %}
            {% load crispy_forms_tags %}
            {{ form|crispy }}
            <input class="btn btn-primary" type="submit" value="Update Password">
          </div>


      </form>

      <div class="login_register">
        Don't have an account? <a href="{% url 'layover_app:register' %}">Register here.</a>
      </div>
  </div>



{% endblock %}
