{% extends 'layover_app/layout.html' %}
{% load static %}

{% block body %}

  <div class="form-block">
    <h1 class="fw-light">Please register to share your places</h1>

    {% if message %}
    <div class="alert alert-warning" role="alert">
      {{ message }}
    </div>
    {% endif %}

    <form action="{% url 'layover_app:register' %}" method="post" id="registration_form">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input id="edw_email" class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>

    <div class="login_register">
      Already have an account? <a href="{% url 'layover_app:login_view' %}">Log In here.</a>
    </div>
  </div>

{% endblock %}

{% block script %}
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelector("#edw_email").addEventListener('change', () => {
      let email_field = document.querySelector("#edw_email");
      let email = email_field.value;
      let email_end = email.slice(-17);
      /*
      if (email_end != "@flyedelweiss.com") {
        email_field.style = "border-color: red; color: red";
      } else {
        email_field.style = "border-color: lightgrey; color: black";
      }
      */
    });
  });

</script>
{% endblock %}
